extends ../layout/layout

block head-title
  title #{appName}

block page-header

block content

  script.
    $(function() {
      //ccategory.initList();
    });

  .page-title
    h1
      a(href='/') #{appName}

  //-
    .section
      .sub-section.news
        for banner in banners
          a(href=banner.url, target="_blank") #{banner.text}
          br

  .section
    | 자전거에 관한 모든 카테고리
    br
    | <s>는 희망 사항</s>
    br
    br
    | 업데이트: !{bootdt}

  .depth1

    .sub-section
      ul
        li: a(href='/newbie') 자전거에 대해 아무것도 몰라요
      ul
        li: a(href='/pain') 아파요

    .sub-section
      ul
        li: a(href='/bike-road') 로드
        li: a(href='/bike-hybrid') 하이브리드
        li: a(href='/bike-mtb') 엠티비
      ul
        li: a(href='/bike-touring') 투어링
        li: a(href='/bike-chromoly') 크로몰리
        li: a(href='/bike-minivelo') 미니벨로
        li: a(href='/bike-city') 생활차
      ul
        li: a(href='/bike-cx') 사이클로크로스
        li: a(href='/bike-fat') 팻바이크

    .sub-section
      ul
        li: a(href='/clothing') 의류
        li: a(href='/helmet-goggle') 헬멧/고글
        li: a(href='/shoes-pedal') 신발/페달

    .sub-section
      ul
        li: a(href='/bottle-cage') 물통 케이지
        li: a(href='/tool-case') 공구통
        li: a(href='/bag') 가방
      ul
        li: a(href='/light') 라이트
        li: a(href='/handlebar-accessory') 핸들바 악세사리
        li: a(href='/handlebar') 핸들바/스템
        li: a(href='/bar-tape') 바테입
      ul
      ul
        li: a(href='/drive-train') 구동계
        li: a(href='/chain') 체인
        li: a(href='/chain-oil') 체인 오일
        li: a(href='/wheel') 휠
        li: a(href='/tire-tube') 타이어/튜브
      ul
        li: a(href='/saddle') 안장
        li: a(href='/fender') 펜더 
        li: a(href='/kick-stand') 킥스텐드 
      ul
        li: a(href='/multi-tool') 멀티툴
        li: a(href='/tools') 공구
        li: a(href='/pump') 펌프

    .sub-section
      ul
        li: a(href='/maintenance') 정비

    .sub-section
      ul
        li: a(href='/shop') 지역별 샾

    .sub-section
      ul
        li: a(href='/news') 뉴스
        li: a(href='/event-road') 로드 행사
        li: a(href='/event-mtb') 엠티비 행사

    .sub-section
      ul
        li: a(href='/course') 코스
        li: a(href='/weather') 날씨
      ul
        li: a(href='/tracking') 기록/분석
        li: a(href='/fitting') 자세/피팅
        li: a(href='/recovery') 리커버리
      ul
        li: a(href='/road-rules') 도로 상식
        li: a(href='/accident') 사고

    .sub-section
      ul
        //-li: a(href='/essay') 에세이
        //-li: a(href='/physics') 물리
        li: a(href='/movies') 멋진 라이딩 영상들
      ul
        li: a(href='/legend') 전설

  .section
    a(href='https://www.facebook.com/allca.news', target='_blank')
      span.fa.fa-facebook-square.fa-2x
